# Run workflow

## CSV to pickle
```bash
python -m src.preprocessing.csv2pkl --input_dir data/raw/ --output_dir data/processed_pickle/
```

python -m src.preprocessing.csv2pkl --input_dir data/raw/ --output_dir data/processed_pickle_2/

python -m src.preprocessing.csv2pkl \
    --input_dir data/raw/ \
    --output_dir data/processed_pickle_2/ \
    --cargo_tankers_only \
    --run_name alex_local_csv2pkl



---

## Map_reduce
### V2
```bash
python -m src.preprocessing.map_reduce --input_dir  data/processed_pickle/ --output_dir data/map_reduced/
```

python -m src.preprocessing.map_reduce \
    --input_dir data/processed_pickle_2/ \
    --output_dir data/processed_final/map_reduced/ \
    --num_workers 0 \
    --run_name alex_local_map_reduce

---

## Train test split
```bash
python -m src.preprocessing.train_test_split --data_dir data/map_reduced/ --val_size 0.1 --test_size 0.1 --random_state 42
```

python -m src.preprocessing.train_test_split \
    --data_dir data/processed_final/map_reduced/ \
    --val_size 0.1 \
    --test_size 0.1


---

## Train Model
### V3
```bash
python -m src.train.train_traj_ES --config configs/traj_tptrans.yaml
pyhon -m src.train.train_traj_ES --config configs/traj_traisformer.yaml
```

---
## Evaluate model
### V6


### TPTrans
1) Evaluate all MMSIs in the split

Plots, CSVs, and metrics will be written under --out_dir/<MMSI>/...
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_all_cut80 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220
```



2) Evaluate a subset of MMSIs
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --mmsi 209536000,209892000 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_subset_cut80 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220
```




3) Evaluate a single specific trip
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --mmsi 209536000 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_one_cut80 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220
```

---

### TrAISformer

1) Evaluate all MMSIs in the split

```bash
python -m src.eval.eval_traj_V6   --split_dir data/map_reduced/test   --ckpt data/checkpoints/traj_traisformer.pt   --model traisformer   --horizon 24 --past_len 128 --pred_cut 80   --mmsi all   --out_dir data/figures/traisformer_v6_all_80   --auto_extent --samples 16 --temperature 0.8 --top_k 30 --match_distance --style satellite --dpi 220
```

2) Evaluate a subset of MMSIs

```bash
python -m src.eval.eval_traj_V6   --split_dir data/map_reduced/test   --ckpt data/checkpoints/traj_traisformer.pt   --model traisformer   --horizon 24 --past_len 128 --pred_cut 80   --mmsi 205482000,209184000    --out_dir data/figures/traisformer_v6_80_test01   --auto_extent --samples 8 --temperature 0.8 --top_k 30 --match_distance --style satellite --dpi 220
```

3) Evaluate a single specific trip

```bash
python -m src.eval.eval_traj_V6   --split_dir data/map_reduced/test   --ckpt data/checkpoints/traj_traisformer.pt   --model traisformer   --horizon 24 --past_len 128 --pred_cut 80   --mmsi 205482000,209184000    --out_dir data/figures/traisformer_v6_test01   --auto_extent --samples 24 --temperature 1.05 --top_k 60 --match_distance --style satellite --dpi 220
```


4) example
```bash
python -m src.eval.eval_traj_V6 \
    --split_dir data/map_reduced/test \
    --out_dir data/figures/traisformer_v6_tuned_01 \
    --ckpt data/checkpoints/traj_traisformer.pt \
    --model traisformer \
    --pred_cut 80 \
    --samples 24 --temperature 1.4 --top_k 160 \
    --lambda_cont 0.015 --alpha_dir 2.4 --beta_turn 0.40 --step_scale 1.15 \
    --auto_extent --match_distance \
    --mmsi 209982000 \
    --style satellite --dpi 220
```

### full model

#### tptrans
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/tptrans_full/traj_tptrans_full.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_full/tptrans_v6_80_512_test_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --match_distance
```

### TEST

python -m src.train.train_traj_ES_V2 --config configs/traj_tptrans.yaml


python -m src.eval.eval_traj_deluxe   --split_dir data/processed_final/map_reduced/test   --ckpt data/checkpoints/tptrans_delta_v2/tptrans_full/traj_tptrans_delta.pt   --model tptrans   --out_dir data/figures/eval_deluxe_final01   --pred_cut 80  



python -m src.eval.eval_traj_final_v2   --split_dir data/processed_final/map_reduced/test   --ckpt data/checkpoints/tptrans_delta_v2/tptrans_full/traj_tptrans_delta.pt   --model tptrans   --out_dir data/figures/eval_deluxe_final11   --pred_cut 80 --folium --mmsi 209664000,209621000,209543000


--no_plots

--same_pic

--folium



python -m src.eval.eval_traj_V9 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/tptrans_delta_v2/tptrans_full/traj_tptrans_delta.pt \
  --model tptrans \
  --out_dir data/figures/eval_v9_delta_v2_02 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --pred_cut 80 \
  --auto_extent \
  --mmsi 205482000,209184000,209221000,209239000



python -m src.eval.eval_traj_deluxe   --split_dir data/map_reduced/test   --ckpt data/checkpoints/tptrans_delta_v2/tptrans_full/traj_tptrans_delta.pt   --model tptrans   --out_dir data/figures/eval_deluxe03    --pred_cut 80    --mmsi 205482000,209184000,209221000,209239000 \
--plot_lat_min 54.0 --plot_lat_max 58.0 --plot_lon_min 6.0 --plot_lon_max 16.0 \
  


python -m src.eval.eval_traj_V6   --split_dir data/map_reduced/test   --ckpt data/checkpoints/traj_traisformer.pt   --model traisformer   --horizon 24 --past_len 128 --pred_cut 80   --mmsi 205482000,209184000    --out_dir data/figures/traisformer_v6_80_test01   --auto_extent --samples 8 --temperature 0.8 --top_k 30 --match_distance --style satellite --dpi 220

In [43]:
import pandas as pd

# baseline
df_01_mmsi = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_01/summary_by_mmsi.csv")
df_01_sum = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_01/summary_overall.csv")
df_01_trips = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_01/summary_trips.csv")

# enc and dec layers doubled
df_02_mmsi = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_encdecx2_01/summary_by_mmsi.csv")
df_02_sum = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_encdecx2_01/summary_overall.csv")
df_02_trips = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_encdecx2_01/summary_trips.csv")

# d_model 512, nhaed 4, enc_layers 8, dec_layers 4. 
df_03_mmsi = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_nhead8_enc8_dec4_01/summary_by_mmsi.csv")
df_03_sum = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_nhead8_enc8_dec4_01/summary_overall.csv")
df_03_trips = pd.read_csv("/Users/alexanderschiotz/Desktop/DTU/Master/Deep Learning/projects/ais-mda/data/figures/tptrans_v6_80_select_tuned_d_model512_nhead8_enc8_dec4_01/summary_trips.csv")

In [ ]:
df_01_mmsi.describe()#dtis

               mmsi  n_trips  ade_km_mean  ade_km_median
count  2.700000e+01     27.0    27.000000      27.000000
mean   3.391609e+08      1.0     9.457248       9.457248
std    1.515820e+08      0.0     4.268189       4.268189
min    2.099820e+08      1.0     1.685252       1.685252
25%    2.449040e+08      1.0     7.279000       7.279000
50%    2.586480e+08      1.0     8.844138       8.844138
75%    3.355669e+08      1.0    11.466357      11.466357
max    6.681162e+08      1.0    21.996912      21.996912

In [45]:
df_03_trips.head()

,mmsi,trip,cut_idx,ade_km,fde_km,n_future_true,n_future_pred,png
0,209982000,0,226,29.694550,59.826465,57,3,data/figures/tptrans_v6_80_select_tuned_d_mode...
1,211686000,0,150,16.319398,31.503575,37,2,data/figures/tptrans_v6_80_select_tuned_d_mode...
2,215933000,0,174,13.943448,21.180655,44,12,data/figures/tptrans_v6_80_select_tuned_d_mode...
3,229673000,0,230,30.836094,8.134194,58,12,data/figures/tptrans_v6_80_select_tuned_d_mode...
4,232008636,0,230,10.789028,15.864244,58,21,data/figures/tptrans_v6_80_select_tuned_d_mode...

In [12]:
# ADE mean
ADE_mean_01 = df_01_sum.loc[0,'ade_km_mean']
ADE_mean_02 = df_02_sum.loc[0,'ade_km_mean']
ADE_mean_03 = df_03_sum.loc[0,'ade_km_mean']

# ADE median
ADE_median_01 = df_01_sum.loc[0,'ade_km_median']
ADE_median_02 = df_02_sum.loc[0,'ade_km_median']
ADE_median_03 = df_03_sum.loc[0,'ade_km_median']

# FDE mean
FDE_mean_01 = df_01_sum.loc[0,'fde_km_mean']
FDE_mean_02 = df_02_sum.loc[0,'fde_km_mean']
FDE_mean_03 = df_03_sum.loc[0,'fde_km_mean']

# diff 
ADE_mean_diff_02 = ADE_mean_01 - ADE_mean_02
ADE_mean_diff_03 = ADE_mean_01 - ADE_mean_03

ADE_median_diff_02 = ADE_median_01 - ADE_median_02
ADE_median_diff_03 = ADE_median_01 - ADE_median_03

FDE_mean_diff_02 = FDE_mean_01 - FDE_mean_02 
FDE_mean_diff_03 = FDE_mean_01 - FDE_mean_03

print("ADE Mean: \n")
print("01 ADE mean:", ADE_mean_01, "\n")
print("02 ADE mean:", ADE_mean_02, "\n")
print("03 ADE mean:", ADE_mean_03, "\n")
print("\n")

print("ADE median: \n")
print("01 ADE median:", ADE_median_01, "\n")
print("02 ADE median:", ADE_median_02, "\n")
print("03 ADE median:", ADE_median_03, "\n")
print("\n")

print("FDE mean: \n")
print("01 FDE mean:", FDE_mean_01, "\n")
print("02 FDE mean:", FDE_mean_02, "\n")
print("03 FDE mean:", FDE_mean_03, "\n")
print("\n")

print("Metric differences Baseline (01) - 02: \n")
print("ADE mean diff 1-2:", ADE_mean_diff_02, "\n")
print("ADE median diff 1-2:", ADE_median_diff_02, "\n")
print("FDE mean diff 1-2:", FDE_mean_diff_02, "\n")
print("\n")

print("Metric differences Baseline (01) - 03: \n")
print("ADE mean diff 1-2:", ADE_mean_diff_03, "\n")
print("ADE median diff 1-2:", ADE_median_diff_03, "\n")
print("FDE mean diff 1-2:", FDE_mean_diff_03, "\n")

ADE Mean:

01 ADE mean: 9.45724826040595

02 ADE mean: 9.588563859420148

03 ADE mean: 20.21647921935643



ADE median:

01 ADE median: 8.844137592944826

02 ADE median: 9.461283519055216

03 ADE median: 17.63337325449159



FDE mean:

01 FDE mean: 18.056524975386512

02 FDE mean: 19.934300391683724

03 FDE mean: 29.794126079019136



Metric differences Baseline (01) - 02:

ADE mean diff 1-2: -0.13131559901419898

ADE median diff 1-2: -0.6171459261103909

FDE mean diff 1-2: -1.8777754162972116



Metric differences Baseline (01) - 03:

ADE mean diff 1-2: -10.75923095895048

ADE median diff 1-2: -8.789235661546765

FDE mean diff 1-2: -11.737601103632624

In [8]:
df_01_mmsi

         mmsi  n_trips  ade_km_mean  ade_km_median
0   209982000        1    11.354253      11.354253
1   211686000        1     8.461917       8.461917
2   215933000        1     7.219445       7.219445
3   229673000        1    15.231182      15.231182
4   232008636        1     5.262336       5.262336
5   244575000        1    11.578461      11.578461
6   244632000        1     8.266478       8.266478
7   245176000        1     9.971842       9.971842
8   246443000        1    10.103485      10.103485
9   246606000        1    10.104452      10.104452
10  255769000        1     7.338554       7.338554
11  257182000        1     8.844138       8.844138
12  257207000        1    14.054756      14.054756
13  258648000        1     7.754355       7.754355
14  258656000        1     3.465220       3.465220
15  304964000        1     4.118315       4.118315
16  305937000        1     7.589241       7.589241
17  311945000        1     9.873744       9.873744
18  316015060        1     1.685252       1.685252
19  319130500        1    12.327656      12.327656
20  352003296        1    10.831402      10.831402
21  518999464        1     7.059149       7.059149
22  538005462        1     3.892217       3.892217
23  636015943        1    14.884556      14.884556
24  636018075        1    13.294196      13.294196
25  636018728        1    21.996912      21.996912
26  668116152        1     8.782189       8.782189

In [20]:
import numpy as np 
test_df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['a', 'b', 'c'])
test_df

# d = {'col1': [1, 2], 'col2': [3, 4]}
# >>> df = pd.DataFrame(data=d)


x = [1,2,3]

y = 4

c = np.append(x,y)
print(c)

[1 2 3 4]

In [46]:
import numpy as np 

mmsi = [209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,
        246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,
        305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,
        636018075,636018728,668116152
        ]

# ADE
ADE_km_01 = []
ADE_km_02 = []
ADE_km_03 = []
# FDE
FDE_km_01 = []
FDE_km_02 = []
FDE_km_03 = []


for id in mmsi: 
    ADE_km_01_mmsi = df_01_trips.loc[df_01_trips['mmsi'] == id, ['ade_km']]
    ADE_km_02_mmsi = df_02_trips.loc[df_02_trips['mmsi'] == id, ['ade_km']]
    ADE_km_03_mmsi = df_03_trips.loc[df_03_trips['mmsi'] == id, ['ade_km']]
    
    ADE_km_01 = np.append(ADE_km_01, ADE_km_01_mmsi)
    ADE_km_02 = np.append(ADE_km_02, ADE_km_02_mmsi)
    ADE_km_03 = np.append(ADE_km_03, ADE_km_03_mmsi)
    

    FDE_km_01_mmsi = df_01_trips.loc[df_01_trips['mmsi'] == id, ['fde_km']]
    FDE_km_02_mmsi = df_02_trips.loc[df_02_trips['mmsi'] == id, ['fde_km']]
    FDE_km_03_mmsi = ADE_km_03_mmsi = df_03_trips.loc[df_03_trips['mmsi'] == id, ['fde_km']]
    
    FDE_km_01 = np.append(FDE_km_01, FDE_km_01_mmsi)
    FDE_km_02 = np.append(FDE_km_02, FDE_km_02_mmsi)
    FDE_km_03 = np.append(FDE_km_03, FDE_km_03_mmsi)
    


data = {"mmsi": mmsi, "ADE_km_01": ADE_km_01, "ADE_km_02": ADE_km_02, "ADE_km_03": ADE_km_03, "FDE_km_01": FDE_km_01, "FDE_km_02": FDE_km_02, "FDE_km_03": FDE_km_03}#,  "ADE_median_01": median_01, "ADE_median_02": median_02, "ADE_median_03": median_03}
df = pd.DataFrame(data=data)
df

,mmsi,ADE_km_01,ADE_km_02,ADE_km_03,FDE_km_01,FDE_km_02,FDE_km_03
0,209982000,11.354253,9.769522,29.694550,7.228927,21.747580,59.826465
1,211686000,8.461917,9.836217,16.319398,3.950151,26.918337,31.503575
2,215933000,7.219445,9.123617,13.943448,7.834563,16.486026,21.180655
3,229673000,15.231182,10.628642,30.836094,42.394704,19.818129,8.134194
4,232008636,5.262336,3.579877,10.789028,10.860954,8.772314,15.864244
5,244575000,11.578461,26.784638,30.002230,42.591543,57.589850,26.704636
6,244632000,8.266478,12.878705,16.781647,12.612116,23.260285,32.140487
7,245176000,9.971842,15.295498,16.471042,17.584526,35.349160,31.558011
8,246443000,10.103485,10.116337,14.865039,20.626076,29.880130,16.742359
9,246606000,10.104452,12.613284,17.633373,9.206521,29.190606,15.595961
10,255769000,7.338554,3.438949,22.189352,10.759572,5.956429,43.239801
11,257182000,8.844138,8.481738,14.209687,13.452300,16.768062,28.091484
12,257207000,14.054756,10.814201,27.062318,27.301050,22.448441,48.801191
13,258648000,7.754355,10.442859,27.992869,11.479382,17.153191,30.784542
14,258656000,3.465220,2.891900,1.243435,5.687005,4.511802,1.243435
15,304964000,4.118315,8.056452,5.585482,4.705592,13.956986,9.924598
16,305937000,7.589241,8.468274,12.088136,18.232039,14.571557,15.087722
17,311945000,9.873744,6.570385,20.527125,26.857408,12.242182,53.262870
18,316015060,1.685252,2.129754,9.113232,1.685252,1.563069,16.541212
19,319130500,12.327656,6.495931,33.773520,37.199021,8.145699,48.351716
20,352003296,10.831402,13.760692,49.468765,29.351651,29.613342,87.946292
21,518999464,7.059149,6.350808,19.827563,12.661354,10.553155,21.813310
22,538005462,3.892217,2.860229,3.930483,5.598421,5.330927,6.198785
23,636015943,14.884556,7.660044,24.404993,26.355479,19.954531,28.867644
24,636018075,13.294196,9.461284,37.131775,34.786404,17.557804,52.456118
25,636018728,21.996912,20.379403,27.767878,31.439975,41.857992,39.624056
26,668116152,8.782189,10.001984,12.192478,15.084188,27.028523,12.956041

# Legacy test runs not used
mmsi's to analyze:
209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152


```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_all_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220
```



### 01 d_model basic
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_d_model512_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```


### 02 encodeing + decoding layer x2
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_encdecx2_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```




```bash
python -m src.train.train_traj_V3 --config configs/traj_tptrans_v2.yaml
# d_model = 512
```

#### d_model 512, watermask dim 512
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/lite/traj_tptrans_d_model512.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_d_model512_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```


```bash
python -m src.train.train_traj_ES --config configs/traj_tptrans_v2.yaml
python -m src.train.train_traj_ES --config configs/traisformer_full.yaml
# d_model = 512, enc_layers = 8, decoding_layers=4, dhead=8
```



#### d_model 512, watermask dim 512, nhead 8, enc_layers 8, dec_layers = 4, 
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/lite/traj_tptrans_d_model512_nhead8_enc8_dec4.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_d_model512_nhead8_enc8_dec4_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```





### 03 nhead10
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_nhead10 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```



### 04 d_model512, encodeing + decoding layer x2, kernel size 4 + dialation 2
```bash
python -m src.eval.eval_traj_V6 \
  --split_dir data/map_reduced/test \
  --ckpt data/checkpoints/traj_tptrans.pt \
  --model tptrans \
  --horizon 12 \
  --past_len 64 \
  --pred_cut 80 \
  --lat_min 54.0 --lat_max 58.0 --lon_min 6.0 --lon_max 16.0 \
  --out_dir data/figures/tptrans_v6_80_select_tuned_d_model512_encdecx2_kernel_dial_tweak_01 \
  --auto_extent \
  --match_distance \
  --style satellite --dpi 220 \
  --mmsi 209982000,211686000,215933000,229673000,232008636,244575000,244632000,245176000,246443000,246606000,255769000,257182000,257207000,258648000,258656000,304964000,305937000,311945000,316015060,319130500,352003296,518999464,538005462,636015943,636018075,636018728,668116152
```